<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="ApiKey" value="ec8db69769901f437dd941e7c8529a24-bfdac26e-433a-4204-b7f5-f1864a46b32c"/>
      <add key="username" value="gigmobility" />
      <add key="password" value="g0d1sG00d"/>
    </appSettings>
</configuration>